@import "compass";

$tropiteal     : rgb(0, 168, 198);
$teal_drop     : rgb(64, 192, 203);
$whitetrash    : rgb(249, 242, 231);
$atomic_bikini : rgb(174, 226, 57);
$feeble_week   : rgb(143, 190, 0);
$fountain_blue : rgb(100, 166, 197);

bode, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include background(linear-gradient(bottom, $whitetrash, $fountain_blue));

  margin: 0;
  padding: 0;

  background-color: $fountain_blue;

  #world {
    position: fixed;
    top: 0;
    left: 0;
  }

  #fps {
    position: absolute;
    bottom: 0;
    right: 0;

    font-size: 12px;
    color: #fff;
    z-index: 10000;

    display: none;
  }

  #content {
    position: relative;
    margin: auto;
    width: 950px;

    font-family: "museo";
    font-size: 24px;
    color: #fff;

    z-index: 1000;

    header {
      overflow: visible;
      text-shadow: 2px 2px 10px #000;

      h1 {
        margin-top: 15px;
        font-size: 48px;
      }

      nav {
        height: 50px;

        ul {
          @include inline-list;

          li {
            @include border-radius(10px);
            background-color: rgba(0, 0, 0, 0.3);
            padding: 10px;
            margin-right: 10px;

            a {
              font-size: 28px;
              color: #fff;
              text-decoration: none;

              &:hover, &.active {
                color: #ff6f00;
              }
            }
          }
        }
      }
    }

    #pages {
      overflow: hidden;

      width: 950px;

      .curly {
        float: left;

        font-family: "baltica-web-extra-condensed";
        font-size: 200px;
        text-shadow: 1px 1px 2px #000;
        text-decoration: none;
        color: #fff;
      }

      .slides {
        float: left;
        overflow: scroll-x;
        list-style-type: none;
        width: 700px;
        height: 100%;
        padding-left: 10px;

        text-shadow: 1px 1px 2px #000;

        li {
          h2 {
            margin-top: 50px;
          }

          a {
            color: #3b7daf;
            text-shadow: 1px 1px 2px #fff;
            text-decoration: none;

            &:hover {
              color: #ff6f00;
            }
          }

          abbr {
            @include border-radius(15px);
            background-color: rgba(0, 0, 0, 0.2);
            padding: 0 5px;
            cursor: help;
          }

          ul {
            @include inline-list;

            li:after {
              content: "✱";
              padding: 0 10px;
            }

            li:last-child:after {
              content: ''
            }
          }

          #map_holder {
            @include border-radius(15px);
            @include box-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

            z-index: 5000;
            overflow: hidden;

            width: 690px;
            height: 350px;
            margin: 45px 0 15px 0;
          }

          #map_canvas {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .flex-control-nav, .flex-direction-nav {
      display: none;
    }
  }
}
