$tropiteal     : rgb(0, 168, 198);
$teal_drop     : rgb(64, 192, 203);
$whitetrash    : rgb(249, 242, 231);
$atomic_bikini : rgb(174, 226, 57);
$feeble_week   : rgb(143, 190, 0);

body {
  margin: 0;
  padding: 0;
}
