!!! 5
%html{ :lang => 'de' }
  %head
    %title Michael Kessler Softwareentwicklung
    %meta{ :charset => 'utf-8' }

    %script{ :src => 'assets/mksoft.js' }

    %link{ :rel => 'stylesheet', :href => 'assets/mksoft.css' }
    -# %script{ src: 'http://use.typekit.com/tqs5jht.js' }
    -# %script
      try { Typekit.load(); } catch(e) {}
%body

