!!! 5
%html{ :lang => 'de' }
  %head
    %title Michael Kessler Softwareentwicklung - Professionelle Softwareentwicklung, moderne Web Applikationen & Web Shops
    %meta{ :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'content-language', :content => 'de' }
    %meta{ :name => 'robots', :content => 'index,follow' }
    %meta{ :name => 'revisit-after', :content => '3 days' }
    %meta{ :name => 'description', :content => 'Professionelle Softwareentwicklung, moderne Web Applikationen & Web Shops' }
    %meta{ :name => 'keywords', :content => 'Softwareentwicklung, Webentwicklung, Webapplikationen, Webanwendungen, Webdesign, Homepage, Internetauftritt, Content Management System, Webshops, Online Shops, E-Commerce, Shopify, HTML5, CSS3, JavaScript, CoffeeScript, Ruby on Rails, Bremgarten, Freiamt' }
    %meta{ :name => 'author', :content => 'Michael Kessler' }

    %link{ :rel => 'openid.server', :href => 'https://www.myopenid.com/server' }
    %link{ :rel => 'openid.delegate', :href => 'https://mkessler.myopenid.com/' }
    %link{ :rel => 'openid2.local_id', :href => 'https://mkessler.myopenid.com' }
    %link{ :rel => 'openid2.provider', :href => 'https://www.myopenid.com/server' }
    %meta{ 'http-equiv' => 'X-XRDS-Location', :content => 'https://www.myopenid.com/xrds?username=mkessler.myopenid.com' }

    %link{ :rel => 'shortcut icon', :href => 'https://mksoft.ch/favicon.ico' }
    %link{ :rel => 'icon', :href => 'https://mksoft.ch/favicon.png', :type => 'image/png' }

    %script{ :src => 'assets/mksoft.js' }

    %link{ :rel => 'stylesheet', :href => 'assets/mksoft.css' }

    %script{ :src => 'https://use.typekit.com/tqs5jht.js' }
    %script{ :src => 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAoLl3xFhUpCv_cXLI6D6aS0FdEbO8orNc&sensor=false&region=CH', :type => 'text/javascript' }

    :javascript
      try { Typekit.load(); } catch(e) {}

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28630996-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

%body
  #fps
  #content
    %header
      %h1
        Michael Kessler Softwareentwicklung
      %nav
        %ul
          %li
            %a{ :href => '#' } Home
          %li
            %a{ :href => '#' } Leistungen
          %li
            %a{ :href => '#' } Technologien
          %li
            %a{ :href => '#' } Open Source
          %li
            %a{ :href => '#' } Kontakt

    #pages
      %div.curly
        {
      %ul.slides
        %li
          %h2
            Ich entwickle mit Leidenschaft modernste Applikationen mit
            %abbr{ :title => 'HyperText Markup Language 5'}
              HTML5
            und
            %abbr{ :title => 'Cascading Style Sheets Level 3'}
              CSS3
            für das Web der Zukunft.

          %p
            Von der kleinen Webseite bis zum komplexen Online-Shop, immer auf der Suche nach der neusten Technologie
            für eine optimalen Lösung aus den unendlich vielen Kombinationen.
          %p
            Analyse, Design & Implementierung - mehr als 15 Jahre Erfahrung in der Software-Entwicklung!

        %li
          %h2
            Ich kann Sie mit meiner langjährigen Erfahrung
            bei der Entwicklung und Umsetzung ihrer Ideen unterstützen.

          %ul
            %li Beratung und Schulung
            %li Analyse und Konzeption
            %li Projektleitung
            %li Softwareentwicklung
            %li Webentwicklung
            %li
              %abbr{ :title => 'Rich Internet Application'}
                RIA
            %li Systemadministration

          %h3
            Durch mein flexibles Partner-Netzwerk können weitere
            spezialisierte Leistungen in die Entwicklung integriert werden:
          %ul
            %li Logo Entwicklung
            %li Webdesign
            %li Printdesign
            %li Suchmaschinen-Optimierung
            %li Suchmaschinen-Marketing
            %li Kommunikation und Medienarbeit

        %li
          %h2
            Meine Leidenschaft gilt der Softwareentwicklung
            und ich bin spezialisiert auf Webentwicklung mit:

          %ul
            %li HTML5
            %li Haml
            %li CSS3
            %li Sass
            %li Compass
            %li JavaScript
            %li CoffeeScript
            %li jQuery
            %li Backbone.js
            %li Ruby
            %li Ruby on Rails
            %li NodeJS

          %h3
            Mit dem perfekten
            %abbr{ :title => 'Software as a Service' } SaaS
            Mix zur optimalen Lösung:

          %p
            Projektmanagement mit
            %a{ :href => 'http://basecamphq.com/' } Basecamp
            &
            = succeed ',' do
              %a{ :href => 'http://www.targetprocess.com/' } TargetProcess
            Online-Shops mit
            %a{ :href => 'http://www.shopify.com/?ref=mkse' } Shopify
            &
            = succeed ',' do
              %a{ :href => 'http://spreecommerce.com/' } Spree
            und E-Mail Marketing mit
            %a{ :href => 'http://www.cleverreach.de/' } CleverReach
            &
            = succeed '.' do
              %a{ :href => 'http://mailchimp.com/' } MailChimp

          %p Für viele Anforderung existiert bereits eine optimale Lösung!

        %li
          %h2
            Ich teile gerne mein Wissen und veröffentliche regelmässig
            Software als Open Source auf
            %a{ :href => 'https://github.com/netzpirat' } GitHub.

          %ul
            %li
              %a{ :href => 'https://github.com/guard/guard' } Guard
            %li
              %a{ :href => 'https://github.com/9elements/haml-coffee' } Haml Coffee Templates
            %li
              %a{ :href => 'https://github.com/netzpirat/haml_coffee_assets' } Haml Coffee Assets
            %li
              %a{ :href => 'https://github.com/netzpirat/guard-jasmine' } Guard::Jasmine
            %li
              %a{ :href => 'https://github.com/netzpirat/guard-cucumber' } Guard::Cucumber
            %li
              %a{ :href => 'https://github.com/netzpirat/guard-coffeescript' } Guard::CoffeeScript
            %li
              %a{ :href => 'https://github.com/netzpirat/guard-rspectacle' } Guard::RSpectacle
            %li
              %a{ :href => 'https://github.com/netzpirat/codo' } Codo
            %li
              %a{ :href => 'https://github.com/netzpirat/coffee-brew' } CoffeeBrew
          %p
            Als Ruby, Ruby on Rails, JavaScript und CoffeeScript Experte arbeite ich aktiv an verschiedenen Projekten
            mit, bei welchen der Quellcode öffentlich ist.
          %p
            Machen Sie sich ein Bild meiner Arbeiten und werfen Sie einen Blick darauf!

        %li#mapper
          %h2 Möchten Sie mehr wissen? Kontaktieren Sie mich per Email oder Telefon.

          %ul
            %li
              %a{ :href => 'mailto:michi@mksoft.ch' } michi@mksoft.ch
            %li
              %a{ :href => 'tel:0041792445561' } +41 79 244 55 61
            %li
              %a{ :href => 'https://www.xing.com/profile/Michael_Kessler20' } Xing
            %li
              %a{ :href => 'https://twitter.com/#!/netzpirat' } Twitter

          #map_holder
            #map_canvas

          %ul
            %li
              Michael Kessler
            %li
              Schulgasse 8
            %li
              5620 Bremgarten

      %div.curly
        }
