!!! 5
%html{ :lang => 'de' }
  %head
    %title Michael Kessler Softwareentwicklung
    %meta{ :charset => 'utf-8' }

    %script{ :src => 'libs/jquery.js' }
    %script{ :src => 'libs/underscore.js' }
    %script{ :src => 'js/mksoft.js' }

    %link{ :rel => 'stylesheet', :href => 'styles/mksoft.css' }
%body

