!!! 5
%html{ :lang => 'de' }
  %head
    %title Michael Kessler Softwareentwicklung
    %meta{ :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'content-language', :content => 'de' }
    %meta{ :name => 'robots', :content => 'index,follow' }
    %meta{ :name => 'revisit-after', :content => '7 days' }
    %meta{ :name => 'description', :content => 'Michael Kessler Softwareentwicklung - Bremgarten AG' }
    %meta{ :name => 'keywords', :content => 'Software Development, Softwareentwicklung, Webdesign, HTML5, CSS3, Ruby, JavaScript, CoffeeScript, Open Source, CMS, Single Page Application' }

    %link{ :rel => 'shortcut icon', :href => 'https://mksoft.ch/.comfavicon.ico' }
    %link{ :rel => 'icon', :href => 'https://mksoft.ch/favicon.png', :type => 'image/png' }

    %script{ :src => 'assets/mksoft.js' }

    %link{ :rel => 'stylesheet', :href => 'assets/mksoft.css' }

    %script{ :src => 'https://use.typekit.com/tqs5jht.js' }
    %script
      try { Typekit.load(); } catch(e) {}

%body

